header{
    background-color: #1B4561;
    color: white;
    #mobilemenu{
        display: none;
    }
    #mobilelogo{
        display: none;
    }
    #desktopnav{
        display: flex;
        justify-content: space-evenly;
        #headerlogo{
            width: 8%;
        }
    }
    
    #row2{
        display: flex;
        justify-content: flex-end;
        #headerbutton{
            background-color: #408274;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
    }

    @include md{
        #desktopnav{
            display: none;
        }
        #row2{
            display: none;
        }
    }

    @include xl{
        #desktopnav{
            display: flex;
        }
        #row2{
            display: flex;

            #headerbutton{
                padding-top: 1%;
                padding-bottom: 1%;
                padding-right: 1%;
                padding-left: 1%;
                font-size: 40px;
                border: none;
            }
        }
        p{
            font-size: 28px;
        }
    }

    @include lg{
        #p{
            font-size: 16px;
        }
        #headerbutton{
            padding-top: 1%;
            padding-bottom: 1%;
            padding-right: 1%;
            padding-left: 1%;
            font-size: 16px;
            border: none;
        }
    }
}