#comeforthewonder{
    margin-top: 12%;
    background-image: url(../img/circlehero3.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vh;
    display: flex;
    background-position: right;
    #wonderheader{
        margin-top: 10%;
        margin-left: 10%;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 200;
        color: #1B4561;
    }
    #wonderheader2{
        font-family: 'Open Sans', sans-serif;
        font-size: 200;
        font-weight: bold;
        color: #1B4561;   
    }


}