#contactus{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-areas: ". contactus1 .";
    background-color: #D2E9FF;
    padding-top: 2%;
    padding-bottom: 8%;
    margin-top: 15%;

    #contactusgrid{
        grid-area: contactus1;
    }
}