/* =============
    Discoverypass
============= */
#discoverypass{
    h1{
        font-family: 'PlayfairDisplay-Bold';
        font-size: 70px;
        color: #EFA541;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
    }
    h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
    }
    p{
        font-size: 30px;
    }
    display: grid;
    grid-template-columns:30% 13.3% 13.3% 13.3% 30%;
    grid-template-rows: max-content;
    grid-template-areas:
    ". h h h ."
    ". lc lc rc .";


    #heading{
        grid-area: h;
    }
    #leftcolumn{
        grid-area: lc;
        border-right: 8px solid #1B4561;
        padding-right: 5%;
        p{
            font-size: 25px;
        }
    }
    #rightcolumn{
        padding-left: 15%;
        grid-area: rc;
        #discoverybutton{
            margin-top: 50%;
            background-color: #408274;
            margin-left: 30%;
            border-radius: 15%;
            color: white;
        }
        p{
            font-size: 25px;
        }
    }
    padding-bottom: 15%;
}