#planyourtriphero{

    padding-top: 20%;
    padding-bottom: 20%;
    
    #planmainhero{
        background-image: url(../img/planyourtriphero1.png);
        min-height: 10vh;
        background-size: cover;
        background-position: right;
     }

    h1{
        font-family: 'PlayfairDisplay-Bold';
        font-size: 40px;
        color: #EFA541;
    }

    @include xl {
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 8%;
        margin-bottom: 8%;
        h1{
            font-family: 'PlayfairDisplay-Bold';
            font-size: 70px;
            color: #EFA541;
            margin-left: 2%;
        }
        #planmainhero{
           background-image: url(../img/planyourtriphero1.png);
           min-height: 30vh;
           background-size: cover;
           background-position: right;
        }
    }
}