/* =============
    planyourtrip
============= */

#planyourtrip{

    #plangrid{
        display: grid;
        grid-template-columns: 2% 32% 32% 32% 2%;
        grid-template-areas: 
        ". pg1h pg2h . ."
        ". pg1 pg3 pg5 ."
        ". pg2 pg4 pg6 .";

        #pg1h{
            grid-area: pg1h;
        }
        #pg2h{
            grid-area: pg2h;
        }
        #pg1{
            grid-area: pg1;
            background-image: url(../img/planyourtriphero2.png);
            background-repeat: none;
            background-size: cover;
            background-position: center;
            min-height: 20vh;
            margin: 2%;
        }
        #pg2{
            grid-area: pg2;
            background-color: #D2E9FF;
            padding-top: 5%;
            padding-bottom: 8%;
            margin: 2%;
            font-size: 30px;
            padding-right: 2%;
            padding-left: 2%;
        }
        #pg3{
            grid-area: pg3;
            background-image: url(../img/planyourtriphero3.png);
            background-repeat: none;
            background-size: cover;
            background-position: center;
            min-height: 20vh;
            margin: 2%;
        }
        #pg4{
            grid-area: pg4;
            background-color: #D2E9FF;
            padding-top: 5%;
            padding-bottom: 8%;
            margin: 2%;
            font-size: 30px;
            padding-right: 2%;
            padding-left: 2%;
        }
        #pg5{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            color: white;
            background-color: #1B4561;
            grid-area: pg5;
            margin: 2%;
            padding: 8%;
        }
        #pg6{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            color: white;
            background-color: #1B4561;
            grid-area: pg6;
            margin: 2%;
            padding: 8%;
        }
    }

    margin-bottom: 8%;
    
}
