#planyourtriphero{
    margin-top: 8%;
    margin-bottom: 8%;
    #planmainhero{
       background-image: url(../img/planyourtriphero1.png);
       min-height: 30vh;
       background-size: cover;
       background-position: right;
    }
}