/* =============
    Video
============= */

#videocontainer {
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1533094602577-198d3beab8ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
    background-position: center;
    display: flex;
    justify-content:center;
    min-height: 100vh

    #videotext {
        font-size: 90
    }
}
