#videocontainer{
    #videoimg{
        #video{
            max-width: 100%;
        }
    }

    #videotext{
        background-color: #D2E9FF;
        display: flex;
        background-image: url(../img/Videobackground.png);
        min-width: 80vh;
        min-height: 60vh;
        max-height: 100%;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        p{
            font-size: 20px;
            margin-right: 5%;
            margin-left: 5%;
        }
        margin-top: -1%;
    }


    @include md{
        #videotext{
            p{
                font-size: 20px;
                margin-right: 5%;
                margin-left: 5%;
                padding-top: 5%;
            }
            margin-top: -1%;
        }
    }

    @include lg{

        #videotext{
            p{
                font-size: 30px;
                margin-right: 45%;
                margin-left: 5%;
                padding-top: 5%;
            }
            margin-top: -1%;
        }
    }



    @include xl{

        #videotext{
            p{
                font-size: 40px;
                margin-right: 45%;
                margin-left: 5%;
                padding-top: 5%;
                margin-top: -1%;
            }
            margin-top: -1%;
        }
    }
    }